.slick-prev:before, .slick-next:before {

    color: gray !important;
    font-size: 3rem !important;
}


.width-item {
    width: 100%  !important;
}

.active_Lotteries {
    @apply bg-blue-500 text-white;
}


.none_active_Film {
    @apply bg-transparent;
}

.Slide-card {
    background-color: #F0F2F5;
}